html {
  background: linear-gradient(
    180.3deg,
    rgb(255, 255, 255) 30%,
    rgb(175, 186, 197) 90.2%
  );
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: rgb(158 156 156 / 10%);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(123, 128, 197, 0.37);
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.5;
  font-family: "Times New Roman", Times, serif;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  padding: 8px 0 0 0;
}
